html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

#main-container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.square {
    box-sizing: border-box;
    border: black solid 1px;
}